@import url('https://fonts.googleapis.com/css?family=Roboto');
/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
header{
    max-width: 100vw;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);

}
div.container-header{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: wrap;

}

div.parent-logo div.container-logo{
    width: 600px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
}
div.parent-logo div.container-logo a img{
    width: 60px;
    height: 60px;
}
div.parent-logo div.container-logo h1{
    margin: 0;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    color: 	#34b3a0;
    font-family: 'Roboto', sans-serif;
}
div.parent-logo div.container-hamburger span{
display: none;
}

div.parent-menu{
    width: 600px;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: flex-end;
  margin-top: 16px;

}
div.parent-menu nav ul li{
    list-style-type: none;
    float: right;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
div.parent-menu nav ul li a.active{
    background-color: #34b3a0;
    color: #ffffff !important;
}
section.header-responsive{
    display: none;
}
/*Header responsive*/
section.header-responsive div.parent-menu-responsive nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100vw;
}
section.header-responsive div.parent-menu-responsive nav ul li{
cursor: pointer;
}
section.header-responsive div.parent-menu-responsive nav ul li.active{
background-color:  #34b3a0;
}
section.header-responsive div.parent-menu-responsive nav ul li.active a{
color: #ffffff;
}
section.header-responsive div.parent-menu-responsive nav ul li{
    list-style-type: none;
    float: left;
    margin: 0;
    border-bottom: 1px solid #34b3a0;
    padding: 10px;
}
section.header-responsive div.parent-menu-responsive nav ul li a{
    color: #34b3a0;
    margin: 40px 20px 40px 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
@media only screen and (min-width: 1200px) {
div.parent-logo{
    width: 600px;
}
div.parent-menu{
    width: 600px;
}

}

@media only screen and (min-width: 992px) and (max-width: 1200px){
div.container-header{
    width: 992px;
}
div.parent-logo{
    width: 392px;
}
div.parent-menu{
    width: 600px;
}

}
@media only screen and (min-width: 768px) and (max-width: 992px){
div.container-header{
    width: 100vw;
}
div.parent-logo{
    width: 100vw;
}
div.parent-logo {
    width: 100vw;
    display: flex;
    flex-flow: wrap;    
}
div.parent-logo div.container-logo{
    width: 600px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;

}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}
section.header-responsive{
}
div.parent-menu{
    width: 100vw;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;
}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
 
}

@media only screen and (min-width: 576px) and (max-width: 768px){
div.container-header{
    width: 100vw;
}
div.parent-logo{
    width: 100vw;
}
div.parent-logo {
    width: 100vw;
    display: flex;
    flex-flow: wrap;    
}
div.parent-logo div.container-logo{
    width: 400px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;

}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}
section.header-responsive{
}
div.parent-menu{
    width: 100vw;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;

}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
 
}


@media only screen and (min-width: 480px) and (max-width: 576px){
div.container-header{
    width: 100vw;
}
div.parent-logo{
    width: 100vw;
}
div.parent-logo {
    width: 100vw;
    display: flex;
    flex-flow: wrap;    
}
div.parent-logo div.container-logo{
    width: 350px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;
}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}
section.header-responsive{
}
div.parent-menu{
    width: 100vw;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;

}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
 
}

@media only screen and (min-width: 320px) and (max-width: 480px){
div.container-header{
    width: 100vw;
}
div.parent-logo{
    width: 100vw;
}
div.parent-logo {
    width: 100vw;
    display: flex;
    flex-flow: wrap;    
}
div.parent-logo div.container-logo{
    width: 280px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;

}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}
section.header-responsive{
}
div.parent-menu{
    width: 100vw;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;

}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
div.parent-logo div.container-logo h1{
    display: none;
}
}
@media only screen and (min-width: 0px)and (max-width: 320px){
div.container-header{
    width: 100vw;
}
div.parent-logo{
    width: 100vw;
}
div.parent-logo {
    width: 100vw;
    display: flex;
    flex-flow: wrap;    
}
div.parent-logo div.container-logo{
    max-width: 200px;
    display: flex;
    flex-flow: wrap;
    margin-left: 0;

}
div.parent-logo div.container-hamburger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

}
div.parent-logo div.container-hamburger span{
    display: block;
    color: #34b3a0;
    cursor: pointer;

}
div.container-header div.parent-menu{
    display: none;
}
section.header-responsive{
}
div.parent-menu{
    width: 100vw;
}
div.parent-menu nav ul{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: left;
  justify-content: flex-start;

}
div.parent-menu nav ul li{
    list-style-type: none;
}
div.parent-menu nav ul li a{
    color: #34b3a0;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
}
div.parent-logo div.container-logo h1{
    display: none;
}
 
}

/*legant modal login*/
.form-elegant .font-small {
    font-size: 0.8rem; }

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

.form-elegant .modal-header {
    border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
    color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
    font-weight: 400; 
}
/*Elegante modal login*/

  /* Footer */
   #footer {
       background: #17a2b8 !important;
       text-shadow: 2px 2px 2px #333;
       padding: 10px 10px 10px 10px;
       left: 0px;
       bottom: 0px;
       width: 100%;
       position: relative;
       z-index: 99999;
   }
   #footer h5{
   	padding-left: 10px;
       border-left: 3px solid #eeeeee;
       padding-bottom: 6px;
       margin-bottom: 20px;
       color:#ffffff;
   }
   #footer a {
       color: #ffffff;
       text-decoration: none !important;
       background-color: transparent;
       -webkit-text-decoration-skip: objects;
   }
   #footer ul.social li{
   	padding: 3px 0;
   }
   #footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
   }
   #footer ul.social li:hover a i {
   	font-size:30px;
   	margin-top:-10px;
   }
   #footer ul.social li a,
   #footer ul.quick-links li a{
   	color:#ffffff;
   }
   #footer ul.social li a:hover{
   	color:#eeeeee;
   }
   #footer ul.quick-links li{
   	padding: 3px 0;
   	-webkit-transition: .5s all ease;
   	-moz-transition: .5s all ease;
   	transition: .5s all ease;
   }
   #footer ul.quick-links li:hover{
   	padding: 3px 0;
   	margin-left:5px;
   	font-weight:700;
   }
   #footer ul.quick-links li a i{
   	margin-right: 5px;
   }
   #footer ul.quick-links li:hover a i {
       font-weight: 700;
   }

   @media (max-width:767px){
   	#footer h5 {
       padding-left: 0;
       border-left: transparent;
       padding-bottom: 0px;
       margin-bottom: 10px;
   }
   }
/*footer*/

/*Index content (courses)*/
section.main-content-index{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
}
section.main-content-index div.main-content-courses{
    width: 885px;
    margin-right: 15px;
    margin-top: 20px;

}
section.main-content-index div.main-content-courses a{
    text-decoration: none;

}
section.main-content-index div.main-content-courses div.courses{
    min-height: 200px;
    background-image: url("/img/react.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 3px;
    box-shadow: 0 5px 5px 0 rgba(52, 179, 160, .5);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section.main-content-index div.main-content-courses div.courses h4{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
section.main-content-index div.main-content-courses div.courses span{
    color: #f2f2f2;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    height: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
section.main-content-index div.main-content-others{
    width: 285px;
    margin-right: 15px;
    margin-top: 20px;

}
section.main-content-index div.main-content-others div.fa-plugin-facebok{
    border-radius: 3px;
    box-shadow: 0 5px 5px 0 rgba(52, 179, 160, .5);
    margin-bottom: 20px;
    padding-left: 26px;
}
/*Responsive courses*/
@media only screen and (min-width: 992px)and (max-width: 1200px){
section.main-content-index{
    width: 992px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
}
section.main-content-index div.main-content-courses{
    width: 729px;
    margin-right: 15px;
    margin-top: 20px;

}
section.main-content-index div.main-content-others{
    width: 233px;
    margin-right: 15px;
    margin-top: 20px;

}
section.main-content-index div.main-content-others div.fa-plugin-facebok{
    padding-left: 0;
}
}
/*Responsive courses*/
@media only screen and (min-width: 768px)and (max-width: 992px){
section.main-content-index{
    width: 768px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.main-content-index div.main-content-courses{
    width: 768px;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others{
    width: 285px;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others div.fa-plugin-facebok{
    padding-left: 26px;
}
}
@media only screen and (min-width: 576px) and (max-width: 768px){
section.main-content-index{
    width: 576px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.main-content-index div.main-content-courses{
    width: 576px;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others{
    width: 285px;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others div.fa-plugin-facebok{
    padding-left: 26px;
}   
}
@media only screen and (min-width: 480px) and (max-width: 576px){
section.main-content-index{
    width: 480px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.main-content-index div.main-content-courses{
    width: 480px;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others{
    width: 285px;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others div.fa-plugin-facebok{
    padding-left: 26px;
}   
}

@media only screen and (min-width: 320px) and (max-width: 480px){
section.main-content-index{
    width: 320px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.main-content-index div.main-content-courses{
    width: 320px;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others{
    width: 285px;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others div.fa-plugin-facebok{
    padding-left: 26px;
}   
}
@media only screen and (min-width: 0px) and (max-width: 320px){
section.main-content-index{
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.main-content-index div.main-content-courses{
    max-width: 100vw;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others{
    max-width: 100vw;
    margin-right: 0;
    margin-top: 20px;

}
section.main-content-index div.main-content-others div.fa-plugin-facebok{
    padding-left: 0;
}   
}
 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


